NET "sel(0)" LOC ="p94";
NET "sel(1)" LOC ="p95";
NET "sel(2)" LOC ="p96";
NET "en" LOC ="p101";
NET "y(0)" LOC ="p58";
NET "y(1)" LOC ="p59";
NET "y(2)" LOC ="p60";
NET "y(3)" LOC ="p61";
NET "y(4)" LOC ="p62";
NET "y(5)" LOC ="p63";
NET "y(6)" LOC ="p68";
NET "y(7)" LOC ="p69";