NET "A" LOC ="p97";
NET "B" LOC ="p96";
NET "C" LOC ="p95";
NET "D" LOC ="p94";
NET "en" LOC ="p101";
NET "DOUT(0)" LOC ="p58";
NET "DOUT(1)" LOC ="p59";
NET "DOUT(2)" LOC ="p60";
NET "DOUT(3)" LOC ="p61";